.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}

.text-type.lumi-f35-hero-title-text {
  display: inline-block;
  text-align: center;
}

.text-type.lumi-f35-hero-title-text .text-type__cursor {
  line-height: 1;
}
